
/**** Général ***/
h2.title {
	font-weight: bold;
	color: #ff7675;
	text-transform: uppercase;
	font-size: 1.8rem;
}

/**** Navigation ****/
#mainNav.navbar-shrink .nav-link.active {
	color: #ff7675;
	border-bottom:.25rem solid #ff7675;
}

#mainNav.navbar-shrink .nav-link:hover {
	color: #ff7675;
}

#mainNav .navbar-toggler {
	color: #ff7675;
    border: 1px solid #ff7675;
}


/**** Header ****/
.masthead {
	z-index: -1;
	height: 100vh !important;
}

.encadre-blanc {
	background-color: white;
	opacity:0.7;
	padding: 50px 50px;
}

.encadre-blanc h1 {
	background-color: inherit !important;
	color: black !important;
	font-family: Nunito !important;
	font-size:3rem;
}

.encadre-blanc h2 {
	color: black !important;
}

.social {
	margin-top: -25px;
	z-index: 99;
}

.social a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    background: #ff7675;
    border-radius: 100%;
    line-height: 3rem;
    color: white;
}

.social a:hover {
	color: white;
	transform: scale(1.1);
}


/**** Section Experiences ****/
#experiences {
	margin-top: 5rem;
}

.experiences-section {
	background-color: white;
}

.experiences-section h4 {
	font-weight: bold;
	font-size:1.1rem;
}

.experiences-section h3 {
	color: #ff7675;
	font-style:italic;
	font-size:1.3rem;
	margin: 25px 0;
}

.experiences-section ul {
	padding-left: 14px;
	max-width: 90%;
}

.experiences-section p, .experiences-section li {
	font-size:14px;
}




/**** Section Compétences ******/
#competences {
	margin-top: 7rem;
}

/***** Section Formation *******/
#formations {
	margin-top: 10rem;
}

.formations-section h4 {
	font-weight: bold;
	font-size:1.1rem;
}

.formations-section h3 {
	color: #ff7675;
	font-style:italic;
	font-size:1.3rem;
	margin: 20px 0;
}

/***** Contact Section *********/
.contact-section .card hr {
	border-color: #ff7675;
}

.contact-section .card {
    border-bottom: .25rem solid #ff7675;
}

.contact-section .card h4 {
	font-family: Nunito !important;
}

.contact-section a {
	color: #ff7675;
}


/***** RESPONSIVE *****/

@media (min-width: 992px) {
	.competences-section .featured-text {
	    padding: 0 0 0 2rem;
	    border-left: .5rem solid #ff7675;
	}
}

@media (max-width: 991px) {
	h2.title {
		margin:auto;
	}

	.formations-section {
		text-align: center;
	}
}